
body{
    background-color: rgb(9, 172, 236);
}

#title{
    
    text-align: center;
    padding: 20px;
    border: 20px;
    margin: 20px
}

#form{
    text-align: center;
    margin: 50px;
    border: 50px;
}
